.header {
  height: 70px; }

.nav a {
  margin: 0px 20px;
  padding: 10px 0; }
  .nav a:hover {
    border-bottom: 1px solid black; }

.item-grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  gap: 20px;
  height: 1000px; }

.pay {
  position: fixed;
  bottom: 50px;
  right: 50px; }

.Item {
  text-align: center; }
  .Item h2 {
    font-size: 1.25rem;
    font-weight: normal; }

.description {
  overflow: auto;
  padding: 20px;
  margin: 30px; }
  .description h2 {
    margin: 40px 10px;
    font-weight: normal; }

.flex-payment {
  flex-direction: column; }

.payment {
  margin-top: 20px; }
  .payment h2 {
    margin: 20px; }

.cart-item {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin: 0px; }
  .cart-item p {
    font-size: 1.25rem;
    margin: 0 20px; }
  .cart-item h2 {
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0 20px; }
